<div class="wrapper">
  <div class="header">
    <h1 class="h1">Добро пожаловать</h1>
  </div>
  <div class="section-1">
  <div class="main_text_wrapper">
    <div class="main_text_auto">
      <span class="text">
      Наш сервис анализа медицинских данных поможет Вам провести статистические рассчеты для Вашего исследования.
      Если вы не уверены, какой статистический метод подойдходит для ваших целей, Восполььзуйтесь автоматическим подбором метода.
      Вам потребуется ответить всего на несколько вопросов.
      </span>
      <a routerLink="/interactive-helper"><button class="btn">Подобрать автоматически</button></a>
    </div>
    <div class="main_text_manual">
      <span class="text">
      Если вы хотите использовать конкретный метод, вы можете выбрать его из предложенный в нашем сервисе.
      </span>
      <a routerLink="/choose-criterion"><button class="btn secondary">Выбрать вручную</button></a>
    </div>
  </div>
  </div>
</div>
