<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Отчет по проверке статистических гипотез<br/> с помощью {{test[0]}}</h2>
    {% if is_independent == true %}
    <p>Проводится сравнение значений в двух различных группах</p>
    {% else %}
    <p>Проводится сравнение значений в одной группе до и после проведения эксперимента</p>
    {% endif %}

    <p>{{test[1]}}</p>

    {% if expected == 0 %}
    <p>Нулевая гипотеза: изменение показателя в ходе проведения опыта  у исследуемой группы не имеет статистической значимости</p>
    <p>Альтернативная гипотеза: изменение показателя в ходе проведения опыта  у исследуемой группы является статистически значимым</p>
    {% endif %}
    {% if expected == -1 %}
    <p>Нулевая гипотеза: уменьшение показателя в ходе проведения опыта  у исследуемой группы не имеет статистической значимости</p>
    <p>Альтернативная гипотеза: уменьшение показателя в ходе проведения опыта  у исследуемой группы является статистически значимым</p>
    {% endif %}
    {% if expected == 1 %}
    <p>Нулевая гипотеза: увеличение показателя в ходе проведения опыта  у исследуемой группы не имеет статистической значимости</p>
    <p>Альтернативная гипотеза: увеличение показателя в ходе проведения опыта  у исследуемой группы является статистически значимым</p>
    {% endif %}
    <p>Представлено выборок: {{k}}</p>
    <p>Значений в выборках: {{n}}</p>
    <h2>Таблица исходных значений</h2>
        {{default_table}}
    <h2>Наблюдаемые и критические значения критерия</h2>
    <p>Наблюдаемое значение: </p>
    <img src="{{welch_stat}}">
    <p>T={{stat}}</p>
    <p>Критическое значение: {{critical}}</p>
    <p>p-значение: {{p_value}}</p>


      <h2>Результат</h2>
    {% if stat >= critical %}
    <p>Нулевая гипотеза отвергается в пользу альтернативной на уровне значимости  {{alpha}}.</p>
    {% if expected == 0 %}
    <p>Таким образом, изменение показателя  у исследуемой группы  статистически значимо.</p>
    {% endif %}
    {% if expected == -1 %}
   <p>Таким образом, уменьшение показателя  у исследуемой группы  статистически значимо.</p>
    {% endif %}
    {% if expected == 1 %}
    <p>Таким образом, увеличение показателя  у исследуемой группы  статистически значимо.</p>

    {% endif %}
    {% else %}
    <p>Нет оснований отвергать нулевую гипотезу на уровне значимости {{alpha}}. </p>
    {% if expected == 0 %}
    <p>Таким образом, изменение показателя  у исследуемой группы не имеют статистической значимости.</p>
    {% endif %}
    {% if expected == -1 %}
     <p>Таким образом, уменьшение показателя  у исследуемой группы не имеет статистической значимости.</p>
    {% endif %}
    {% if expected == 1 %}
    <p>Таким образом, увеличение показателя  у исследуемой группы не имеют статистической значимости.</p>
    {% endif %}
    {% endif %}



</body>
</html>